:root {
    --base-font: 'Poppins' , sans-serif;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #94d6b2;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
}

h1 {
    font-family: 'Lemon' , cursive, serif;
    color: #bd94d6;
    text-shadow: 1px 1px #f1f1f1;
    font-size: 6rem;
    margin: 200px 0 100px 0;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.input-container h4 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 15px;
}


.name-input {
    width: 200px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    text-align: center;
    outline: none;
}

.name-button {
    border: none;
    /* margin-left: 10px; */
    width: 70px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #bd94d6;
    font-family: 'Lemon' , cursive, serif;
};