:root {
    --base-font: 'Poppins' , sans-serif;
    --secondary-color: #94d6b2;
    --primary-color: #bd94d6;
    --off-white: #f1f1f1;
    --console-grey: #bec1c4;
    --console-screen: #CADC9F;
    --console-sprite: #0f380f;
}

@font-face {
    font-family: 'Gameboy';
    src: url('/local-fonts/Early\ GameBoy.ttf');
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}
body {
    background-color: var(--secondary-color);
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
}

h1 {
    font-family: 'Lemon' , cursive, serif;
    color: var(--primary-color);
    text-shadow: 1px 1px var(--off-white);
    font-size: 6rem;
    margin: 200px 0 100px 0;
    animation: bounceIn;
    animation-duration: 1s;
}

#intro {
    animation: fadeIn;
    animation-duration: 3s;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    animation: fadeIn;
    animation-duration: 3s;
    margin-bottom: 100px;
}

.input-container h4 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 15px;
}


.name-input {
    width: 200px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    text-align: center;
    outline: none;
    background-color: var(--off-white);
}

.name-button {
    border: none;
    width: 70px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #bd94d6;
    font-family: 'Lemon' , cursive, serif;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    padding: 25px 7px;
}

#game-page {
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-controller {
    width: 60%;
    background-color: var(--console-grey);
    height: 600px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border: 2px solid black;
}

#game-screen {
    background-color: var(--console-screen);
    height: 80%;
    width: 80%;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: 'Gameboy';
}

.game-stats {
    display: flex;
    justify-content: center;
}

#game-screen h3 {
    padding-top: 10px;
    color: var(--console-sprite);
}

.game-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-button-container button {
    margin: 40px 0;
    font-size: 15px;
    height: 3rem;
    border-radius: 20%;
    background-color: var(--primary-color);
    color: rgba(0,0,0,.6);
    font-family: 'Lemon' , cursive, serif;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.game-button-container button:hover {
    color: rgba(0,0,0,1);
}

.game-stats {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: #306230;
    color: var(--console-screen);
    border: 1px solid var(--console-sprite);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sprite-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite {
    animation: bounce; 
    animation-duration: 1s;
    animation:walk 1s steps(1) infinite,
    forward 25s linear infinite;
    margin-top: 100px;
    height: 100px;
    width: 100px;
}

@keyframes walk {
    0%{
        animation: bounce;
        animation-duration: 2s;
    }
    100% {
        padding-left: 1px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(-150px);
    }


    50% {
        transform: translateY(25px);
        transform: translateX(200px);

    }
    75% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateX(-150px);
    }
}

.hidden {
    visibility: hidden;
}

.heart {
    height: 50px;
    display: none;
    position: absolute;
    padding-bottom: 15px;
    bottom: -650px;
}


.pause {
    animation-play-state: paused;
}